.side_bar {
  display: flex;
  flex-direction: row;
}

.bar_cates {
  position: relative;
  width: 200px;
  height: 100vh;
  border-right: 1px solid hsl(var(--border));
}

.bar_articles {
  width: 260px;
  height: 100vh;
}
