.cates {
  width: 100%;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.cates_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid hsl(var(--border));
  color: hsl(var(--foreground));
  margin-bottom: 10px;
}

.header_label {
  color: hsl(var(--foreground));
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_add {
  width: 24px !important;
  height: 24px !important;
  background-color: var(--theme-color) !important;
  font-size: 18px !important;
}

.cates_list {
  margin-top: 8px;
}

.cate_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  list-style: none;
  margin-bottom: 8px;
  border-radius: var(--border-radius);
  padding-left: 16px;
  cursor: pointer;
}

.cate_item:hover {
  background-color: hsl(var(--accent));
}

.cate_item_selected {
  background-color: hsl(var(--accent));
}

.cate_item_input:hover {
  background-color: hsl(var(--background));
}

.cate_item_label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item_input {
  height: 28px !important;
}

.item_name {
  font-size: 16px;
  color: hsl(var(--foreground));
}

.cate_item_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 6px;
}

.empty {
  padding-top: 160px;
  text-align: center;
  color: hsl(var(--muted-foreground));
  font-size: 14px;
}
