.articles {
  width: 100%;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
}

.articles_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid hsl(var(--border));
  color: hsl(var(--foreground));
  margin-bottom: 10px;
}

.articles_search {
  height: 30px !important;
  width: 200px !important;
}

.header_add {
  width: 24px !important;
  height: 24px !important;
  background-color: var(--theme-color) !important;
  font-size: 18px !important;
}

.header_label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header_title {
  margin-left: 8px;
}

.articles_add_item {
  margin-bottom: 10px;
}

.articles_add_item:hover {
  background-color: var(--item-select-bg-color);
}

.articles_add_item:last-child {
  margin-bottom: 0px;
}

.add_item_text {
  margin-left: 8px;
}

.articles_home {
  width: 100%;
  margin-bottom: 16px;
  color: hsl(var(--foreground));
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home_text {
  margin-left: 8px;
}

.articles_dir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: hsl(var(--foreground));
}

.dir_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dir_right {
  display: flex;
  flex-direction: row;
}

.article_list {
}

.article_input {
  display: flex;
  flex-direction: row;
}

.article_file {
  display: flex;
  flex-direction: row;
}

.file_left {
  display: flex;
  flex-direction: row;
  color: hsl(var(--foreground));
}

.group_header {
  display: flex;
  flex-direction: row;
}

.group_header_label {
  display: flex;
  flex-direction: row;
  color: hsl(var(--foreground));
}

.group_header_action {
  display: flex;
  flex-direction: row;
  color: hsl(var(--foreground));
}

.tree_item_head {
  margin-bottom: 4px;
}

.tree_item_head_selected {
  background-color: hsl(var(--accent));
}

.tree_item_head:hover {
  background-color: hsl(var(--accent));
}

.tree_item_input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tree_item_input_ele {
  height: 30px !important;
  margin-left: 6px;
}

.tree_item_dir {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dir_name {
  margin-left: 6px;
}

.file_name {
  margin-left: 6px;
}

.tree_item_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tree_item_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tree_item_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 6px;
}
