.editor {
  width: 100%;
  position: relative;
  height: 100%;
  background-color: hsl(var(--background));
  border-left: 1px solid hsl(var(--border));
}

.editor_main {
  width: 100%;
  height: 100vh;
  padding-top: 52px;
  display: flex;
  flex-direction: row;
}

.editor_container {
  width: calc(100vw - 460px) !important;
}
