.editor {
  position: relative;
  height: 100%;
  background-color: hsl(var(--background));
  border-left: 1px solid hsl(var(--border));
}

.editor_main {
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

