.editor {
  flex: 1;
  position: relative;
  height: 100%;
  background-color: hsl(var(--background));
}

.editor_main {
  width: 100%;
  height: 100vh;
  padding-top: 52px;
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-right: 16px;
}
