:global(.rc-color-picker-panel) {
  margin: 0;
  background-color: var(--pop-bg-color) !important;
}

:global(.rc-color-picker-slider-alpha) {
  border-radius: 4px;
}

.rcs_panel {
  font-size: 12px;
  color: var(--font-color);
}

.rcs_panel_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
}

.rcs_panel_input_rgb {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rcs_panel_input_hex {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.rcs_panel_input_hex_label {
  text-align: center;
}

.input_rgb_item {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
}

.input_rgb_item :global(.rc-input-number) {
  width: 34px;
}

.input_rgb_item_label {
  text-align: center;
}

.rc_input {
  width: 66px;
  height: 26px;
  border: none;
  color: var(--font-color-reverse);
  text-align: center;
  border-radius: 4px;
}

.rc_input_number{
  
}

:global(.rc-input-number) {
  text-align: center;
  border: none;
  color: var(--font-color-reverse);
  line-height: normal;
}

.rcs_panel_input_alpha {
  display: flex;
  flex-direction: column;
}

.rcs_panel_input_alpha :global(.rc-input-number) {
  width: 46px;
}

.rcs_panel_input_alpha_label {
  text-align: center;
}

.rcs_panel_input_types {
  flex: 1;
  display: flex;
  align-items: center;
}

.rcs_preset_colors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  gap: 6px;
}

.rsc_preset_color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
}
