.content {
  padding-top: 33px;
}
.title {
  padding: 0 70px 4px;
  max-width: 890px;
}
.title_input {
  height: 50px !important;
  max-height: 9.0072e+15px;
  resize: none;
  line-height: 1.389 !important;
  font-variant-ligatures: none;
  color: hsl(var(--foreground));
  font-weight: 700;
  font-size: 36px !important;
  border-radius: 0;
  border: none !important;
  outline: none;
  box-shadow: none;
  padding: 0 !important;
}
.content_body {
  padding: 20px 70px 90px;
}
